services:
  - type: pserv
    name: database
    envVars:
      - fromGroup: cms

  - type: redis
    name: cache

  - type: web
    name: directus
    envVars:
      - fromGroup: cms
    plan: starter
    buildCommand: ''
    startCommand: 'npx directus start'

  - type: web
    name: frontend
    envVars:
      - fromGroup: frontend
    buildCommand: 'npm install && npm run build'
    startCommand: 'npm run preview'
